{% load notifications_tags %}
{% load static %}
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' refresh_period=5 %}

<nav class="navbar navbar-expand navbar-dark bg-custom fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav text-center">
                {% if not request.user.is_anonymous %}
                    <li class="nav-item active mr-auto">
                        <a class="nav-link" href="{% url 'posts:home' %}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="notification-counter py-1">
                                <strong>{% live_notify_badge %}</strong>
                             </span> &nbsp;
                            Notifications
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a href="{% url 'notifications:unread' %}" class="dropdown-item">
                                You have {% live_notify_badge %} unread notifications.
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'notifications:all' %}">
                                All Notifications (Read and Unread)
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown text-center">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'accounts:view_account' request.user.profile.slug %}">
                                Profile
                            </a>
                            <a class="dropdown-item" href="{% url 'accounts:view_update_account' %}">
                                Account
                            </a>
                            <a class="dropdown-item extra-btn" href="{% url 'posts:home' %}#popularPosts">
                                Popular Posts
                            </a>
                            <a class="dropdown-item extra-btn" href="{% url 'posts:home' %}#suggestedFriends">
                                Suggested Users
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                Log Out
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item mr-auto">
                        <a class="nav-link py-1" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>