<script>
    $("#folloiwngForm").on('submit', function(e) {
        e.preventDefault();
        
        var $follow_button = $('#followingBtn');

        $.ajax({
            url: '{% url "accounts:follow_or_unfollow_profile" user.profile.slug %}',
            type: 'POST',
            contentType: "application/json",
            dataType: 'json',
            success: function(data) {
                if (data.is_following) {
                    $follow_button.text('Unfollow');
                    $follow_button.removeClass('btn-success');
                    $follow_button.addClass('btn-danger');
                } else {
                    $follow_button.text('Follow')
                    $follow_button.removeClass('btn-danger')
                    $follow_button.addClass('btn-success');
                }
            }
        });
        return false ;
    });
</script>