{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Password Change
{% endblock title %}
{% block content %}
    <div class="content-section row long-page">
        <div class="col-12 pr-1 pl-1">
            <form method="POST">
                {% csrf_token %}
                <Legend class="pb-2 mb-4">Change Password</Legend>
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <button type="submit" class="btn btn-outline-info">
                    Change Password
                </button>
            </form>
        </div>
    </div>
{% endblock content %}