{% extends "base.html" %}
{% block title %}
    {{ user.username }} Follower List
{% endblock title %}
{% block content %}
    <div class="content-section long-page">
        <ul class="list-group text-center">
            <li class="list-group-item sidebar-header">
                <span class="username-info">
                    <a href="{% url 'accounts:view_account' user.profile.slug %}">
                        {{ user.username }}
                    </a>
                </span>
                <span>
                    Followers List
                </span>
            </li>
            {% if followers_list %}
                {% for profile in followers_list %}
                    <li class="list-group-item username-info">
                        <a href="{% url 'accounts:view_account' profile.slug %}">
                            {{ profile.user.username }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">
                    {{ user.username }} has no followers.
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock content %}