{% extends "base.html" %}
{% block title %}
    {{ user.username }} Following List
{% endblock title %}
{% block content %}
    <div class="row text-center mb-4">
        {% include "accounts/_account_header.html" %}
    </div>
    <ul class="list-group text-center">
        <li class="list-group-item">
            Followers
        </li>
        {% if following_list %}
            {% for profile in following_list %}
                <li class="list-group-item">
                    <a href="{% url 'accounts:view_account' profile.slug %}">
                        {{ profile.user.username }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">
                    {{ user.username }} doesn't follow anyone yet.
            </li>
        {% endif %}
    </ul>
{% endblock content %}