{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ user.username }} Following List
{% endblock title %}
{% block content %}
    <div class="content-section long-page">
        <ul class="list-group text-center">
            <li class="list-group-item sidebar-header">
                <span class="username">
                    <a href="{% url 'accounts:view_account' user.profile.slug %}">
                        {{ user.username }}
                    </a>
                </span>
                <span>
                    Following
                </span>
            </li>
            {% if following_list %}
                {% for profile in following_list %}
                    <li class="list-group-item username">
                        <div class="float-left">
                            <a href="{% url 'accounts:view_account' profile.slug %}">
                                {{ profile.user.username }}
                            </a>
                        </div>
                        {% if profile.user != current_user %}
                            <div class="float-right">
                                {% if profile in current_user_following_list %}
                                    {% include "accounts/_follow_base.html" with is_following=True %}
                                {% else %}
                                    {% include "accounts/_follow_base.html" with is_following=False %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">
                    <span class="username">
                        <a href="{% url 'accounts:view_account' user.profile.slug %}">
                            {{ user.username }}
                        </a>
                    </span>
                    <span>
                        has not followed anyone yet.
                    </span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'accounts/main.js' %}"></script>
{% endblock scripts %}
