{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Log In
{% endblock title %}
{% block content %}
    <div class="content-section logged-out">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
                <small class="pl-2">
                        <a href="{% url 'password_reset' %}">Forogt Password?</a>
                    </small>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary">Sign In</button>
            </div>
        </form>
        <div class="text-right">
            New to <span class="site-name">Post It</span>?
            <a href="{% url 'register' %}">Create an account</a>.
        </div>
    </div>
{% endblock content %}