{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Registeration
{% endblock title %}
{% block content %}
    <div class="content-section logged-out">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom pb-2">
                    Join <span class="site-name">Post It</span> today!
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-block" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="text-right">
            <small>
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </div>
{% endblock content %}