{% extends "base.html" %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="row text-center mb-2">
        <div class="col-12 mb-2">
            <img class="profile_pic" src="{{ user.profile.image.url }}">
        </div>
        <div class="col-12">
            {% if user.get_full_name %}
                {{ user.get_full_name }}
            {% endif %}
            </div>
        <div class="col-12">
            (@{{ user.username }})
        </div>
    </div>
    <div class="text-center mb-4">
        <button class="btn btn-primary">Follow</button>
        <a href="#" class="btn btn-secondary">About</a>
    </div>
    <div class="content-section">
        <h1>User's Posts will appear here.</h1>
    </div>  
{% endblock content %}
