{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="row account-header text-center">
        <div class="col-12 mb-2">
            {% if user.profile.image %}
                <img class="accounts-profile-pic" src="{{ user.profile.image_url }}">
            {% else %}
                <img class="accounts-profile-pic" src="/media/default.jpg">
            {% endif %}
        </div>
        <div class="col-12 fullname">
            {{ user.get_full_name }}
        </div>
        <div class="col-12 pb-2 username">
            <a href="{% url 'accounts:view_account' user.profile.slug %}">
                @{{ user.username }}
            </a>
        </div>
        <div class=" col-12 text-center pb-4">
            {% if user != request.user %}
                {% include "accounts/_follow_form_base.html" %}
            {% endif %}
        </div>
        <div class="btn-block btn-group btn-group-vertical">
            <a class="btn btn-info" href="{% url 'accounts:view_following_or_followers' slug=user.profile.slug req='following' %}">
                Following
            </a>
            <a class="btn btn-info " href="{% url 'accounts:view_following_or_followers' slug=user.profile.slug req='followers' %}">
                Followers
            </a>
        </div>
    </div>
    <div class="row">
            {% if user == request.user %}
                <div class="col-12 pt-2 pr-1 pl-1">
                    {% include "posts/_new_post_form.html" %}
                </div>
            {% endif %}
            {% if posts %}
            <div class="col-12 pr-1 pl-1">
                {% for post in posts %}
                    {% include "posts/_post_base.html" %}
                {% endfor %}
            </div>
            <div class="col-12">
                {% include "posts/_paginations.html" with page=posts %}
            </div>
        {% else %}
            <div class="col-12 content-section text-center mb-2 long-page">
                {% if user == request.user %}
                    <h3>You do not have any posts yet...</h3>
                {% else %}
                    <h3>{{ user.username }} has no posts yet...</h3>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'main.js' %}">
    </script>
    {% include "accounts/_follow_form_ajax_base.html" %}
{% endblock scripts %}