{% extends "base.html" %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="content-section">
            <h3 class="text-center py-2">Personal Information</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{ user.username }}</td>
                        <td><a href="#">Edit</td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{ user.first_name.capitalize }}</td>
                        <td><a href="#">Edit</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td>{{ user.last_name.capitalize }}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ user.email|default:'Not Provided' }}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Linkedin Profile</th>
                        <td>{{ user.profile.linkedin|default:'Not Provided' }}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>{{ user.profile.country.name|default:'Not Provided' }}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td>{{ user.profile.city.title |default:'Not Provided' }}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Gender</th>
                        <td>{{ user.profile.display_gender|default_if_none:'Not Provided' }}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Joined</th>
                        <td> {{ user.profile.created|date:'M 23, Y '|default_if_none:'Not Provided' }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock content %}