{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ user.username }}
{% endblock title %}
{% block content %}
    <div class="row text-center mb-2">
        <div class="col-12 mb-2">
            {% if user.profile.image %}
                <img class="profile-pic" src="{{ user.profile.image.url }}">
            {% else %}
                <img class="profile-pic" src="/media/default.jpg">
            {% endif %}
        </div>
        <div class="col-12">
            {% if user.get_full_name %}
                {{ user.get_full_name }}
            {% endif %}
        </div>
        <div class="col-12">
            (@{{ user.username }})
        </div>
        <div class="col-12">
            <a href="{% url 'accounts:view_following_or_followers' slug=user.profile.slug req='following' %}">Following</a>
        </div>
        <div class="col-12">
            <a href="{% url 'accounts:view_following_or_followers' slug=user.profile.slug req='followers' %}">Followers</a>
        </div>
    </div>
    <div class="text-center mb-4">
        {% if user != request.user %}
            {% if is_following %}
                <a href="{% url 'accounts:follow_profile' slug=user.profile.slug operation='unfollow' %}" class="btn btn-danger">Unfollow</a>
            {% else %}
                <a href="{% url 'accounts:follow_profile' slug=user.profile.slug  operation='follow' %}" class="btn btn-primary">Follow</a>
            {% endif %}
        {% endif %}
    </div>
    {% if posts %}
        {% for post in posts %}
            {% include "posts/_post_base.html" %}
        {% endfor %}
        {% include "posts/_paginations.html" with page=posts %}
    {% else %}
        <div class="content-section text-center">
            <h3>{{ user.username }} has no posts yet...</h3>
        </div>
    {% endif %}
{% endblock content %}
