{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{ user.username }} Info
{% endblock title %}
{% block content %}
    <div class="content-section row">
        <div class="col-12 text-center mb-4">
            <div class="col-12 mb-2">
                {% if user.profile.image %}
                    <img class="accounts-profile-pic" src="{{ user.profile.image_url }}">
                {% else %}
                    <img class="accounts-profile-pic" src="/media/default.jpg">
                {% endif %}
            </div>
            <div class="col-12 fullname">
                {{ user.get_full_name }}
            </div>
            <div class="col-12 pb-2 username">
                <a href="{% url 'accounts:view_account' user.profile.slug %}">@{{ user.username }}</a>
            </div>
        </div>
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <legend class="pb-2 mb-4">
                        Personal Information
                </legend>
                <fieldset class="form-group">
                    {{ user_form|crispy }}
                    {{ profile_form|crispy }}
                </fieldset>
                <fieldset class="form-group">
                    Password:<br>You can change your password through this <a href="{% url 'change_password' %}">form</a>.
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}