html {
    font-size: 80%;
    padding-top: 47px;
}

body {
    background-color: #2B3137;
}

.bg-custom {
    background-color: #1F2428;
    border-bottom: 2px solid #121517;
}

.site-name {
    color: #6E6977;
}

.post-body {
    color: #3E4347;
    white-space: pre-line;
    word-wrap: break-word;

}

.post-author a {
    color: #37546C;
    font-weight: bold;
}

.post-author a:hover {
    color: #527EA3;
    text-decoration: none;
}

.post-title a {
    color: #51575D;
    font-weight: bold;
}

.post-title a:hover {
    color: #050505;
    text-decoration: none;
}

.sidebar-post-title {
    font-size: 0.9rem;
}

.content-section,
.list-group-item {
    background-color: #E3E8ED;
}

input[type=text]:focus,
.new-post textarea:focus {
    outline: 2px solid #3CA3B8;
}

.new-post textarea {
    height: 80px;
}

a.post-delete {
    color: #420E01;
}

a.post-delete:hover {
    color: #FD1C4D;
}

a.post-edit {
    color: #044201;
}

a.post-edit:hover {
    color: #0BBB02;
}

.new-view-comment a {
    color: #23116F;
}

.new-view-comment a:hover {
    color: #491CFD;
}

.sidebar-header {
    color: #16222C;
    font-weight: bold;
    border-bottom: 2px solid #16222C;
}

.long-page {
    min-height: 100vh;
}

.logged-out {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/******************* #Responsiveness# ******************/
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }
tr { font-size: 1rem; }
.navbar-toggler  .navbar-toggler-icon {font-size: 0.5rem; }
.dropdown-menu .dropdown-item { font-size: 0.6rem; }
.accounts-profile-pic { width: 100px; height: 100px; }
.posts-profile-pic { width: 50px; height: 50px; }
.comments-profile-pic { width: 30px; height: 30px; }

@media screen and (max-width: 320px) {
    html { font-size: 70%; }
    .accounts-profile-pic { width: 60px; height: 60px;}
}
@media screen and (min-width: 321px) and (max-width: 576px) {
    .accounts-profile-pic { width: 80px; height: 80px;}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .accounts-profile-pic { width: 100px; height: 100px;}
    .posts-profile-pic { width: 60px; height: 60px; }
}
@media screen and (max-width: 576px)
{
    html { padding-top: 37px; }
    .content-section { border-bottom: 1px solid #ADB3B8; padding: 15px 10px; }
}
@media screen and (min-width: 577px) {
    .content-section { border: 1px solid #768593; border-radius: 3px; margin-bottom: 5px; padding: 10px; }
}
/******************* /#Repsponiveness# ******************/
