html {
    font-size: 80%;
    padding-top: 60px;

}

body {
    background-color: #F3F7F7;
}

.content-section {
    background-color: #FFFFFF;
    border: 1px solid #D3D1D6;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.content-section h3, .content-section td {
    color: #716C7A;
}

.site-name {
    color: #6E6977;
}

.post-body {
    white-space: pre-line;
    word-wrap: break-word;

}

.post-meta, .post-meta a {
    color: #147AFF;
}

.post-title a {
    text-decoration: none;
}

.sidebar-post-title {
    font-size: 0.9rem;
}

/* #Responsiveness# */
h1 { font-size: 1,8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
tr { font-size: 1rem; }
.navbar-toggler  .navbar-toggler-icon {font-size: 0.5rem; }
.dropdown-menu .dropdown-item { font-size: 0.6rem; }
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #0E150F;
}
@media screen and (max-width: 320px) {
    html { font-size: 55%; }
    .profile-pic { width: 60px; height: 60px;}
}
@media screen and (min-width: 321px) and (max-width: 576px) {
    html { font-size: 70%; }
    .profile-pic { width: 80px; height: 80px;}
}
@media screen and (min-width: 577px) and (max-width: 768px)
{
    html { font-size: 75%; }
    .profile-pic { width: 100px; height: 100px;}
}
/* /#Repsponiveness# */