<ul class="list-group">
    <li class="list-group-item header text-center sidebar-header mb-0">
        Comments &mdash; {{ post.title.title }}
    </li>
    <div class="post-comments-{{ post.pk }} comments" data-post-comments-id="{{ post.id }}">
        {% for comment in comments %}
            {% include "posts/_comment_base.html" %}
        {% empty %}
            <li class="list-group-item comments text-center" data-empty-post-comments-id="{{ post.id }}">
                <strong>This post has no comments.</strong>
            </li>
        {% endfor %}
    </div>
</ul>