{% load crispy_forms_tags %}
<form method="POST" class="edit-post-form-ajax">
    {% csrf_token %}
    <fieldset class="form-group">
        {{ edit_post_form|crispy }}
    </fieldset>
    <div class="form-group text-center">
        <button class="btn btn-outline-info btn-sm edit-post-confirm" type="submit" data-edit-post-confirm="{{ post.pk }}">
            Update
        </button>
        <button type="button" class="btn btn-outline-secondary btn-sm cancel-edit-post" data-cancel-edit-post="{{ post.pk }}">
            Cancel
        </button>
    </div>
</form>