<div class="content-section post">
    <h1 class="post-title"><a href="{% url 'posts:view_post' post.slug %}">{{ post.title }}</a></h1>
    {% if request.user == post.user %}
        <a href="#" class="btn btn-info btn-sm">
            Edit
        </a>
        <button class="btn btn-danger btn-sm">
            Delete
        </button>
    {% endif %}
    <div class="post-body border-top pt-4 mt-2">
        <p>{{ post.body }}</p>
    </div>
    <div class="meta-data text-right row">
        <div class="col-12">
            <small>
                Author: 
                <span class="post-meta">
                    <a href="{% url 'accounts:view_account' post.user.profile.slug %}">{{ post.user.username }}</a>
                </span>
            </small>
        </div>
        <div class="col-12">
            <small>
                Posted at: 
                <span class="post-meta">
                    {{ post.date_posted }}
                </span>
            </small>
        </div>
    </div>
</div>
