<div class="content-section post mr-0" id="post-{{post.pk}}">
    <div class="row">
        <div class="col-auto pr-0">
            <a href="{% url 'accounts:view_account' post.user.profile.slug %}">
                {% if post.user.profile.image %}
                    <img class="rounded-circle posts-profile-pic" src="{{ post.user.profile.image_url }}">
                {% else %}
                    <img class="rounded-circle posts-profile-pic" src="/media/default.jpg">
                {% endif %}
            </a>
        </div>
        <div class="float-right pl-0">
            <div class="col-12 post-author">
                <a href="{% url 'accounts:view_account' post.user.profile.slug %}">
                    {{ post.user.username }}
                </a>
            </div>
            <div class="col-12">
                <small>
                    <a class="text-muted" href="{% url 'posts:view_post' post.slug %}">
                        {{ post.date_posted|date:"g:i A - d M Y" }}
                    </a>
                </small>
            </div>
            {% if post.user == request.user %}
                <div class="col-12 pl-2">
                    <a class="btn btn-link btn-sm post-edit" href="{% url 'posts:edit_post' post.slug %}">
                        Edit
                    </a>
                    <button class="btn btn-link btn-sm post-delete test2" data-toggle="modal" data-target="#confirmDeletePost{{ post.slug }}">
                        Delete
                    </button>
                    {% include "posts/delete_post_confirm.html" %}
                </div>
            {% endif %}
        </div>
        <div class="col-12 pt-4">
            <h4 class="post-title">
                <a href="{% url 'posts:view_post' post.slug %}">
                    {{ post.title }}
                </a>
            </h4>
        </div>
        <div class="col-12 pt-2">
            <p class="post-body">
                {{ post.body }}
            </p>
        </div>
        <div class="col-12 text-right new-view-comment">
            <button type="button" class="btn btn-link btn-sm new-comment-btn" data-newcomment-btn-id="{{ post.id }}">
                Comment
            </button>
            <button type="button" class="btn btn-link btn-sm view-comments-btn" data-viewcomments-btn-id="{{ post.id }}">
                View Comments ({{ post.comments.all.count }})
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 view-comments hidden pt-1 pb-4" data-viewcomments-id="{{ post.id }}">
        <ul class="list-group">
            <li class="list-group-item text-center sidebar-header">
                Comments
            </li>
            {% for comment in post.comments.all %}
                <li class="list-group-item">
                    {% include "posts/_comment_base.html" %}
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    This post has no comments yet...
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 pt-0 hidden pt-1 pb-4 new-comment-form" data-newcomment-form-id="{{ post.id }}">
        {% include "posts/_new_comment_form.html" %}
    </div>
</div>