{% extends "base.html" %}
{% block title %}
    Delete {{ post.title }}
{% endblock title %}
{% block content %}
    <div class="content-section row">
        <div class="col-12 pr-1 pl-1">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group text-center">
                    <h4 class="pb-4">Are you sure you want to delete "{{ post.title }}"</h4>
                    <button class="btn btn-outline-danger btn-sm" type="submit">Delete</button>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'posts:home' %}">Cancel</a>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}