{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="row home-page">
        <div class="col-sm-8 pr-1 pl-1">
            {% include "posts/_new_post_form.html" %}
            {% if posts %}
                {% for post in posts %}
                    {% include "posts/_post_base.html" %}
                {% endfor %}
                <div class="col-12">
                    {% include "posts/_paginations.html" with page=posts %}
                </div>
            {% else %}
                <div class="col-12 content-section text-center mb-4">
                    <h3>There are no posts yet... <br>Follow more people to see their posts in your homepage.</h3>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-4 pr-1 pl-1 pl-sm-2 sidebar">
            <a id="popular_posts"></a>
            <ul class="list-group" id="popular-posts">
                <li class="list-group-item text-center sidebar-header">Most Commented Posts</li>
                {% if most_popular_posts %}
                    {% for post in most_popular_posts %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-auto pr-0">
                                    <a href="{% url 'accounts:view_account' post.user.profile.slug %}">
                                        {% if post.user.profile.image %}
                                            <img class="rounded-circle comments-profile-pic" src="{{ post.user.profile.image_url }}">
                                        {% else %}
                                            <img class="posts-profile-pic" src="/media/default.jpg">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="float-right pl-0">
                                    <div class="col-12 post-author">
                                        <a href="{% url 'accounts:view_account' post.user.profile.slug %}">
                                            {{ post.user.username }}
                                        </a>
                                    </div>
                                    {% if post.user == request.user %}
                                <div class="col-12 pl-2">
                                    <a class="btn btn-link btn-sm post-edit pr-0" href="{% url 'posts:edit_post' post.slug %}">
                                        Edit
                                    </a>
                                    <button class="btn btn-link btn-sm post-delete pl-0" data-href="{% url 'posts:delete_post' post.slug %}" data-toggle="modal" data-target="#confirmDelete{{ post.slug }}">
                                        Delete
                                    </button>
                                    {% include "posts/delete_post_confirm.html" %}
                                </div>
                                {% endif %}
                                </div>
                                
                                <div class="col-12 post-title pt-2">
                                    <a class="sidebar-post-title" href="{% url 'posts:view_post' post.slug %}">
                                        {{ post.title }}
                                    </a>
                                </div>
                                <div class="col-12">
                                    <small>
                                        <a class="text-muted" href="{% url 'posts:view_post' post.slug %}">
                                            {{ post.date_posted|date:"g:i A - d M Y" }}
                                        </a>
                                    </small>
                                </div>
                                <div class="col-12 text-right">
                                    <small>
                                        {{ post.comments.count }} comments
                                    </small>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                        <li class="list-group-item">
                            <div class="text-center">
                                There are no posts in the site yet.
                            </div>
                        </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}