{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">
                Post
            </button>
        </div>
    </form>
    {% if posts %}
        {% for post in posts %}
            {% include "posts/_post_base.html" %}
        {% endfor %}
        {% include "posts/_paginations.html" with page=posts %}
    {% else %}
        <div class="content-section text-center">
            <h1>There are no posts yet...</h1>
        </div>
    {% endif %}
{% endblock content %}