{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <div class="row home-page">
        <div class="col-sm-8 pr-1 pl-1">
            <form method="POST" class="mb-4">
                {% csrf_token %}
                <div class="input-group mb-1">
                    {{ form.title }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">
                            Post
                        </button>
                    </div>
                </div>
                <div class="form-group new-post">
                    {{ form.body }}
                </div>
            </form>
            {% if posts %}
                {% for post in posts %}
                    {% include "posts/_post_base.html" %}
                {% endfor %}
                <div class="col-12">
                    {% include "posts/_paginations.html" with page=posts %}
                </div>
            {% else %}
                <div class="col-12 content-section text-center mb-2">
                    <h1>There are no posts yet... <br>Follow more people to see their posts in your homepage.</h1>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-4 pr-1 pl-1 pl-sm-2 sidebar">
            <ul class="list-group">
                <li class="list-group-item text-center sidebar-header">Most Commented Posts</li>
                {% for post in most_popular_posts %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 post-title">
                                <a class="sidebar-post-title" href="{% url 'posts:view_post' post.slug %}">
                                    {{ post.title }}
                                </a>
                            </div>
                            <div class="col-12">
                                <small class="text-muted">
                                    {{ post.comments.count }} comments
                                </small>
                            </div>
                            <div class="col-12 text-right post-author">
                                <small>
                                    <a class="text-right" href="{% url 'accounts:view_account' post.user.profile.slug %}">
                                        {{ post.user }}
                                    </a>
                                </small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}